build/
dist/
testsuite/tiff-suite/cramps-tile.tif
testsuite/tiff-suite/cramps.tif
testsuite/tiff-suite/fax2d.tif
testsuite/tiff-suite/g3test.tif
testsuite/tiff-suite/jello.tif
testsuite/tiff-depths/flower-palette-02.tif
testsuite/tiff-depths/flower-palette-04.tif
testsuite/tiff-depths/flower-palette-08.tif
testsuite/tiff-depths/flower-rgb-contig-08.tif
testsuite/tiff-depths/flower-rgb-contig-16.tif
testsuite/tiff-depths/flower-minisblack-02.tif
testsuite/tiff-depths/flower-minisblack-04.tif
testsuite/tiff-depths/flower-minisblack-08.tif
testsuite/tiff-depths/flower-minisblack-16.tif
testsuite/fits/file001.fits
testsuite/fits/file002.fits
testsuite/fits/file003.fits
testsuite/fits/file009.fits
testsuite/fits/file012.fits
testsuite/fits/out.txt
testsuite/fits/tst0001.fits
testsuite/fits/tst0002.fits
testsuite/fits/tst0003.fits
testsuite/fits/tst0005.fits
testsuite/fits/tst0006.fits
testsuite/fits/tst0007.fits
testsuite/fits/tst0008.fits
testsuite/fits/tst0009.fits
testsuite/fits/tst0013.fits
testsuite/gpsread/out.txt
testsuite/ico/oiio.ico
testsuite/ico/out.txt
testsuite/imagecache-files/f00.tx
testsuite/imagecache-files/f01.tx
testsuite/imagecache-files/f02.tx
testsuite/imagecache-files/f03.tx
testsuite/imagecache-files/f04.tx
testsuite/imagecache-files/f05.tx
testsuite/imagecache-files/f06.tx
testsuite/imagecache-files/f07.tx
testsuite/imagecache-files/f08.tx
testsuite/imagecache-files/f09.tx
testsuite/imagecache-files/out.exr
testsuite/imagecache-files/out.txt
testsuite/imagecache-files/postage.exr
testsuite/jpeg2000/out.txt
testsuite/jpeg2000/p0_01.j2k
testsuite/jpeg2000/p0_03.j2k
testsuite/jpeg2000/p0_04.j2k
testsuite/jpeg2000/p0_05.j2k
testsuite/jpeg2000/p0_09.j2k
testsuite/jpeg2000/p0_11.j2k
testsuite/jpeg2000/p0_12.j2k
testsuite/jpeg2000/p0_14.j2k
testsuite/openexr-chroma/Garden.exr
testsuite/openexr-chroma/out.txt
testsuite/openexr-multires/Bonita.exr
testsuite/openexr-multires/ColorCodedLevels.exr
testsuite/openexr-multires/KernerEnvCube.exr
testsuite/openexr-multires/KernerEnvLatLong.exr
testsuite/openexr-multires/MirrorPattern.exr
testsuite/openexr-multires/OrientationCube.exr
testsuite/openexr-multires/OrientationLatLong.exr
testsuite/openexr-multires/PeriodicPattern.exr
testsuite/openexr-multires/StageEnvCube.exr
testsuite/openexr-multires/StageEnvLatLong.exr
testsuite/openexr-multires/WavyLinesCube.exr
testsuite/openexr-multires/WavyLinesLatLong.exr
testsuite/openexr-multires/WavyLinesSphere.exr
testsuite/openexr-multires/out.txt
testsuite/openexr-suite/AllHalfValues.exr
testsuite/openexr-suite/Blobbies.exr
testsuite/openexr-suite/BrightRings.exr
testsuite/openexr-suite/BrightRingsNanInf.exr
testsuite/openexr-suite/Cannon.exr
testsuite/openexr-suite/Desk.exr
testsuite/openexr-suite/GammaChart.exr
testsuite/openexr-suite/GoldenGate.exr
testsuite/openexr-suite/GrayRampsDiagonal.exr
testsuite/openexr-suite/GrayRampsHorizontal.exr
testsuite/openexr-suite/MtTamWest.exr
testsuite/openexr-suite/Ocean.exr
testsuite/openexr-suite/RgbRampsDiagonal.exr
testsuite/openexr-suite/SquaresSwirls.exr
testsuite/openexr-suite/StillLife.exr
testsuite/openexr-suite/Tree.exr
testsuite/openexr-suite/WideColorGamut.exr
testsuite/openexr-suite/WideFloatRange.exr
testsuite/openexr-suite/out.txt
testsuite/targa-tgautils/CBW8.TGA
testsuite/targa-tgautils/CCM8.TGA
testsuite/targa-tgautils/CTC16.TGA
testsuite/targa-tgautils/CTC24.TGA
testsuite/targa-tgautils/CTC32.TGA
testsuite/targa-tgautils/UBW8.TGA
testsuite/targa-tgautils/UCM8.TGA
testsuite/targa-tgautils/UTC16.TGA
testsuite/targa-tgautils/UTC24.TGA
testsuite/targa-tgautils/UTC32.TGA
testsuite/targa-tgautils/out.txt
testsuite/texture-field3d/out.exr
testsuite/texture-field3d/out.txt
testsuite/texture-field3d/postage.exr
testsuite/texture-grid/out.exr
testsuite/texture-grid/out.txt
testsuite/texture-grid/postage.exr
testsuite/texture-missing/out.exr
testsuite/texture-missing/out.txt
testsuite/texture-res/out.tif
testsuite/texture-res/out.txt
testsuite/texture-res/postage.exr
testsuite/runtest.pyc
testsuite/sgi/norle-16.sgi
testsuite/sgi/norle-8.sgi
testsuite/sgi/out.txt
testsuite/sgi/rle-16.sgi
testsuite/sgi/rle-8.sgi
testsuite/tiff-depths/out.txt
testsuite/tiff-suite/out.txt
testsuite/tiff-suite/pc260001.tif
testsuite/tiff-suite/quad-lzw.tif
testsuite/tiff-suite/quad-tile.tif
testsuite/tiff-suite/strike.tif