*~
branches/
build/
dist/
testsuite/runtest.pyc
.DS_Store
nbproject/Package-Default.bash
nbproject/configurations.xml
nbproject/private/Default.properties
nbproject/private/configurations.xml
nbproject/private/private.xml
nbproject/project.xml